
[Unit]
Description=DISPLAY environment variable test
Before=xinit.service
Before=desktop.target
PartOf=graphical-session-pre.target

[Service]
Type=oneshot
ExecStart=${HOME}/bin/echodisplay
