# xorg.service
# Systemd unit file for an Xorg server running in a user session
# DISPLAY=:0 is hardcoded into the socket file

[Unit]
Description=Xorg X11 server
Documentation=man:Xorg(1)
#Requires=environ-test.service
Before=x11.target exit.target
# hopefully this will get xorg to exit before shutdown
Conflicts=exit.target getty@tty1.service
# we shouldn't activate this manually, it should be pulled in when starting X clients with systemd
#RefuseManualStart=true


[Service]
Type=simple
TTYPath=/dev/tty1
# variables set using .zprofile
ExecStart=/usr/bin/Xorg :0 vt1 -verbose 1 -logverbose 4 -keeptty
#KillSignal=SIGTERM
SendSIGHUP=no
Restart=no
#Restart=on-abnormal

[Install]
#Alias=x11.service
Also=x11.target
#For auto activation/enabling
WantedBy=desktop.target
