[Desktop Entry]
Name=Systemd-based DE
Comment=Starts user-mode Systemd desktop manager service
Exec=systemctl --user start --wait desktop-manager.service
Type=Application
