
[Unit]
Description=Albert launcher compositor
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/albert
Environment=QT_LOGGING_RULES="*.debug=false;*.info=false"
Restart=on-success

[Install]
WantedBy=graphical-session.target
