
[Unit]
Description=Albert launcher compositor
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/albert
Restart=on-success

[Install]
WantedBy=graphical-session.target
