
# Sets some settings that are relevant to running an X session

[Unit]
Description=Autorandr auto config
Requires=x11.target
# so that xrandr, environment etc. is set up
After=x11.target
Before=desktop.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/autorandr --change
SuccessExitStatus=0

[Install]
WantedBy=graphical-session.target
