

[Unit]
Description=Cbatticon battery monitor
Requires=x11.target
After=x11.target

[Service]
Type=simple

ExecStart=/usr/bin/cbatticon --hide-notification

[Install]
WantedBy=desktop.target

