

[Unit]
Description=Cbatticon battery monitor
PartOf=graphical-session.target

[Service]
Type=simple

ExecStart=/usr/bin/cbatticon --hide-notification

[Install]
WantedBy=graphical-session.target

