[Unit]
Description=Connman system tray applet
PartOf=graphical-session.target
# for system tray
After=desktop-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/cmst --minimized

[Install]
WantedBy=graphical-session.target
