
[Unit]
Description=DISPLAY environment variable test
Before=xinit.service
Before=desktop.target
PartOf=graphical-session-pre.target

[Service]
Type=oneshot
ExecStart=/home/max/.config/session_scripts/echodisplay
