[Unit]
Description=fcitx input method
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/fcitx5 -D --keep

[Install]
WantedBy=graphical-session.target
