[Unit]
Description=LXQT desktop environment
After=xorg.target
Requires=xorg.target

[Service]
# simple since startlxqt execs lxqt-session
Type=simple
ExecStart=/usr/bin/startlxqt
#Restart=always
#RestartSec=10

[Install]
WantedBy=desktop.target
