
[Unit]
Description=Menutray applications menu
Requires=x11.target
After=x11.target

[Service]
Type=simple

ExecStart=/usr/bin/menutray -i

[Install]
WantedBy=desktop.target
