[Unit]
Description=Menutray applications menu
PartOf=graphical-session.target
After=desktop-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/menutray -i

[Install]
WantedBy=graphical-session.target
