[Unit]
Description=NetworkManager system tray applet
PartOf=graphical-session.target

[Service]
Type=simple
# use dex to start desktop file
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=graphical-session.target
