
[Unit]
Description=PulseAudio System Tray
PartOf=graphical-session.target
After=desktop-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/pasystray

[Install]
WantedBy=graphical-session.target
