[Unit]
Description=Compton compositor
PartOf=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/picom --daemon
Restart=on-success

[Install]
WantedBy=graphical-session.target
