[Unit]
Description=Skippy-xd window picker daemon
After=x11.target
Requires=x11.target

[Service]
Type=simple
ExecStart=/usr/bin/skippy-xd --start-daemon
ExecStop=/usr/bin/skippy-xd --stop-daemon
# sometimes stopping the daemon doesn't work
TimeoutStopSec=2

[Install]
WantedBy=desktop.target
