[Unit]
Description=Startup sound
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/paplay "${HOME}/.config/systemd/data/xp-startup.wav"
RemainAfterExit=no

[Install]
WantedBy=graphical-session.target
