[Unit]
Description=Keyboard monitor for touchpad
After=x11.target
Requires=x11.target

[Service]
Type=simple
ExecStart=/usr/bin/syndaemon -k -i 0.5

[Install]
WantedBy=desktop.target
