[Unit]
Description=Taskd task management daemon
# if a graphical environment is active, wait till X starts, so we
# don't try and call it on the TTY
After=desktop.target

[Service]
Type=simple

ExecStart=/home/max/bin/taskd
#ExecStop=/usr/bin/killall taskd

[Install]
WantedBy=desktop.target
