
[Unit]
Description=Udiskie mount manager
PartOf=graphical-session.target
After=desktop-manager.service

[Service]
Type=simple

ExecStart=/usr/bin/udiskie --config ${XDG_CONFIG_HOME}/udiskie/config.yml

[Install]
WantedBy=graphical-session.target
