# Target representing a X server ready to accept client connections
# X clients should add this unit in their Requires= and After= configuration

[Unit]
Description=X11 server
Requires=environ-test.service
#Requires=xorg.service
After=xorg.service managed-xorg.target environ-test.service
