# Target representing a X server ready to accept client connections
# X clients should add this unit in their Requires= and After= configuration

[Unit]
Description=X11 server
AssertPathExists=/tmp/.X11-unix/X0
