
# Sets some settings that are relevant to running an X session

[Unit]
Description=X session scripts
Requires=x11.target
After=x11.target
Before=desktop.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sleep 2
ExecStart=/usr/bin/xset r rate 225 35
ExecStart=/usr/bin/nitrogen --restore
SuccessExitStatus=0

[Install]
WantedBy=graphical-session.target
DefaultInstance=auto
