
# Sets some settings that are relevant to running an X session

[Unit]
Description=X session scripts
Requires=x11.target
After=x11.target
# so that xrandr, environment etc. is set up
Before=desktop.target desktop-manager.service
PartOf=graphical-session-pre.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/bash ${HOME}/.config/session_scripts/configure_monitors %i
ExecStart=/usr/bin/xset r rate 250 25
ExecStart=/usr/bin/bash ${HOME}/.config/session_scripts/touchpad-configure.sh
ExecStart=/usr/bin/bash ${HOME}/.config/session_scripts/set-wallpaper
SuccessExitStatus=0

[Install]
WantedBy=x11.target
DefaultInstance=auto
